h1{
    text-align: center;
    color: aliceblue;
  }
 section{
   justify-content: center;
 }
 
 nav{
   color: white;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 }
 nav a {
   display: flex;
   justify-content: center;
 }
 nav a:first-child {
   margin-left: 1rem;
   justify-content: left;
   align-content: center;
   align-self: center;
 }
 nav a img {
   height: 1rem;
   width: 1rem;
 }
 
 nav {
   color: white;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 }
 nav a {
   display: flex;
   justify-content: center;
 }
 nav a:first-child {
   margin-left: 1rem;
   justify-content: left;
   align-content: center;
   align-self: center;
 }
 nav a img {
   height: 5%;
   width: 5%;
   justify-content: space-between;
   align-items: flex-end;
} 

body {
    background-color: #ffb800;
    margin: 0;
    font-family: OpenSans;
    width: 100%;
    height: 100vh;
}

.saldo-box {
    margin: 0vw;
    padding: 2rem;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .saldo-box span {
    font-weight: 600;
    font-size: 12pt;
   margin: -5% -55% 0% 0%;
}
  .saldo-box div {
    display: flex;
    align-items: center;
}
  .saldo-box div span {
    font-size: 15pt;
}
  .saldo-box div a {
    margin: 1rem;
    opacity: 0.3;
}

.hidden{
    display: none;
  }

main{
    margin: 0vw;
    padding: 0rem;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 0px 0px;
    flex-direction: column;
    align-items: center;
  }

article{
    display: flex;
}

.mb-3{ 
    top: -80%;
    margin: 0vh 0vh 0vh 60vh;
    width: 50%;
    align-items: center;
}
.parcela-valor{
  margin-top: 5%;
    display: flex;
    justify-content: center;
}
.parcela{
  font-size: 3vh;
    font-weight: bolder;
}

.valor{
  font-size: 3vh;
  font-weight: bolder;
  color: red;
}
 
.btn-warning{
    align-items: center;
    width: 45%;
    padding: 2% 10%;
    margin: 5% 0% 0% 25%;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content:space-around;  
}
  
.btn-light{
    width: 50%;
    height: 50%;
}
   

