/*RESET*/
nav, li {list-style: none;}
a {text-decoration: none; cursor: pointer;}
body {margin: 0; background-color: #ffb800; width: 100%; font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 1.5em; font-weight: 700;}
p {margin-top: 15px; margin-bottom: 15px; font-weight: bold;}
button {margin-top: 15px; margin-right: 20px;}
/*FIM RESET*/

/*Header*/
header {color: white; display: flex; flex-direction: row; align-items: center; height: 70px;}
nav {color: white;}

.item {
    flex-grow: 1;
}

.article-01 {padding-left: 20px;}
.article-02 {flex-grow: 0.1; justify-content: center;}
.article-03 {}

/*CONTEUDO*/
.conteudo {
    background-color: white;
    height: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    align-content: space-between;
}

.form-select form-select-sm {
    max-width: 200px;
}
   

.radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    border-radius: 20px 20px;
    width: 8em;
    }

@media (max-width: 700px) {
    header {font-size: 0.8em;}
    .article-02 { flex-grow: 0.2; align-self: flex-end; }
    .conteudo {height: 200vw;}
}
